apiVersion: v1
kind: Secret
metadata:
  name: app-secret
  namespace: coffee-queue
type: Opaque
stringData:
  SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-service:5432/coffeequeue
  SPRING_DATASOURCE_USERNAME: postgres
  SPRING_DATASOURCE_PASSWORD: CHANGE_ME_SECURE_PASSWORD
